
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/Content/build/js/jquery-input-mask-phone-number.js"></script>
<link href="~/Content/build/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/build/js/jquery-ui.js"></script>
<script src="~/Content/vendors/iCheck/icheck.min.js"></script>
<script src="~/Content/vendors/select2/dist/js/select2.min.js"></script>
<script src="~/Content/dropsearch/js/countrypicker.js"></script>
<script src="~/Content/dropsearch/js/bootstrap-select.min.js"></script>
<script src="~/Content/dropsearch/js/console.js"></script>

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3></h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>STOK TAKİP EKLE</h2>
                        <ul class="nav navbar-right panel_toolbox"></ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <div class="form-horizontal form-label-left">
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 ">Seri No<span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" class="form-control" name="serino" id="serino" title="Seri No" placeholder="Seri No" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 ">Açıklama<span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" class="form-control" name="aciklama" id="aciklama" title="Açıklama" placeholder="Açıklama">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3">Bölme No<span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" class="form-control" name="bolmeno" id="bolmeno" placeholder="Bölme No">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="control-label col-md-3 col-sm-3 ">Konum<span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" name="konum" id="konum" class="form-control"  placeholder="Konum">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="control-label col-md-3 col-sm-3 ">Birim<span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" class="form-control" name="birim" id="birim" placeholder="Birim">
                                </div>
                            </div>                            
                            <div class="form-group row ">
                                <label class="control-label col-md-3 col-sm-3 ">Miktar<span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" name="miktar" id="miktar" class="form-control" placeholder="Miktar">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="control-label col-md-3 col-sm-3 ">Yeniden Sipariş Miktarı<span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" name="yenidensiparis" id="yenidensiparis" class="form-control" placeholder="Yeniden Sipariş Miktarı">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="control-label col-md-3 col-sm-3 ">Maliyet<span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" name="maliyet" id="maliyet" class="form-control" placeholder="Maliyet">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="control-label col-md-3 col-sm-3 ">Stok Değeri<span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" name="stokdegeri" id="stokdegeri" class="form-control" placeholder="Stok Değeri">
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-9 col-sm-9  offset-md-3">
                                    <button type="reset" class="btn btn-primary">Temizle</button>
                                    <button type="button" id="btnKaydet" class="btn btn-success">Kaydet</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">


    $(document).ready(function () {
        $('#Phone').usPhoneFormat({
            format: '(xxx) xxx-xxxx',
        });
        function sedeceSayi(evt) {
            evt = (evt) ? evt : window.event
            var charCode = (evt.which) ? evt.which : evt.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false
            }
            return true
        }
    });



    $("#btnKaydet").click(function (e) {
        e.preventDefault();
        debugger;
        var tcno = $("#tcno").val();
        var UserName = $("#UserName").val();
        var UserSurname = $("#UserSurname").val();
        var Phone = $("#Phone").val();
        var Email = $("#Email").val();
        var adres = $("#adres").val();
        var vergino = $("#vergino").val();
        var vergidaire = $("#vergidaire").val();

        if (tcno == "" || tcno == null) {
            $('<div title="Uyarı"></div>').dialog({
                open: function (event, ui) {
                    $(this).html("T.C. No Alanı Boş Geçilemez");
                },
                close: function () {
                    $(this).remove();
                },
                resizable: true,
                modal: true,
                buttons: {
                    'Tamam': function () {
                        $(this).dialog('close');
                    }
                }
            });
        }
        else if (UserName == "" || UserName == null) {
            $('<div title="Uyarı"></div>').dialog({
                open: function (event, ui) {
                    $(this).html("Adı Alanı Boş Geçilemez");
                },
                close: function () {
                    $(this).remove();
                },
                resizable: true,
                modal: true,
                buttons: {
                    'Tamam': function () {
                        $(this).dialog('close');
                    }
                }
            });
        }
        else if (UserSurname == "" || UserSurname == null) {
            $('<div title="Uyarı"></div>').dialog({
                open: function (event, ui) {
                    $(this).html("Soyadı Alanı Boş Geçilemez");
                },
                close: function () {
                    $(this).remove();
                },
                resizable: true,
                modal: true,
                buttons: {
                    'Tamam': function () {
                        $(this).dialog('close');
                    }
                }
            });
        }
        else if (Phone == "" || Phone == null) {
            $('<div title="Uyarı"></div>').dialog({
                open: function (event, ui) {
                    $(this).html("Cep Telefonu Alanı Boş Geçilemez");
                },
                close: function () {
                    $(this).remove();
                },
                resizable: true,
                modal: true,
                buttons: {
                    'Tamam': function () {
                        $(this).dialog('close');
                    }
                }
            });
        }
        else if (Email == "" || Email == null) {
            $('<div title="Uyarı"></div>').dialog({
                open: function (event, ui) {
                    $(this).html("E-Posta Alanı Boş Geçilemez");
                },
                close: function () {
                    $(this).remove();
                },
                resizable: true,
                modal: true,
                buttons: {
                    'Tamam': function () {
                        $(this).dialog('close');
                    }
                }
            });
        }
        else if (adres == "" || adres == null) {
            $('<div title="Uyarı"></div>').dialog({
                open: function (event, ui) {
                    $(this).html("Adres Alanı Boş Geçilemez");
                },
                close: function () {
                    $(this).remove();
                },
                resizable: true,
                modal: true,
                buttons: {
                    'Tamam': function () {
                        $(this).dialog('close');
                    }
                }
            });
        }
        else if (vergino == "" || vergino == null) {
            $('<div title="Uyarı"></div>').dialog({
                open: function (event, ui) {
                    $(this).html("Vergi No Alanı Boş Geçilemez");
                },
                close: function () {
                    $(this).remove();
                },
                resizable: true,
                modal: true,
                buttons: {
                    'Tamam': function () {
                        $(this).dialog('close');
                    }
                }
            });
        }
        else if (vergidaire == "" || vergidaire == null) {
            $('<div title="Uyarı"></div>').dialog({
                open: function (event, ui) {
                    $(this).html("Vergi Dairesi Alanı Boş Geçilemez");
                },
                close: function () {
                    $(this).remove();
                },
                resizable: true,
                modal: true,
                buttons: {
                    'Tamam': function () {
                        $(this).dialog('close');
                    }
                }
            });
        }
        else {
            var myData = {
                CustomerName: UserName,
                CustomerSurname: UserSurname,
                CustomerPhone: Phone,
                CustomerEmail: Email,
                CustomerAddress: adres,
                CustomerTcNo: tcno,
                VergiNo: vergino,
                VergiDairesi: vergidaire
            };
            $.ajax({
                type: "GET",
                url: "/Customer/CustomerSaveSvc",
                data: myData,
                success: function (data) {
                    $('#CustomerModalEdit').modal('hide');
                    if (data == "1") {
                        $('<div title="Güncelleme İşlemi"></div>').dialog({
                            open: function (event, ui) {
                                $(this).html("Kaydetme İşlemi Başarılı");
                            },
                            close: function () {
                                $(this).remove();
                            },
                            resizable: true,
                            modal: true,
                            buttons: {
                                'Tamam': function () {
                                    $(this).dialog('close');
                                    window.location.reload(false);
                                }
                            }
                        });
                    }
                    else {
                        $('<div title="Güncelleme İşlemi"></div>').dialog({
                            open: function (event, ui) {
                                $(this).html("Kaydetme İşlemi Başarısız");
                            },
                            close: function () {
                                $(this).remove();
                            },
                            resizable: true,
                            modal: true,
                            buttons: {
                                'Tamam': function () {
                                    $(this).dialog('close');
                                    window.location.reload(false);
                                }
                            }
                        });
                    }
                },
                error: function (err) {
                    $('#CustomerModalEdit').modal('hide');
                    $('<div title="Hata"></div>').dialog({
                        open: function (event, ui) {
                            $(this).html("Hata Oluştu");
                        },
                        close: function () {
                            $(this).remove();
                        },
                        resizable: true,
                        modal: true,
                        buttons: {
                            'Tamam': function () {
                                $(this).dialog('close');
                                window.location.reload(false);
                            }
                        }
                    });
                }

            });
        }

    });
</script>
<!-- /page content -->



